.App-header {
  background-color: #282c34;
  min-height: 0px;
  
  align-items: center;
  color: white;
}
.App-logo {
  max-width: 200px;
  display: block;
  margin: 0px auto;
}

.App-footer {
  margin: 20px;
  color: #555;
  text-align: center;
}